MFG="0"
DHCP="0"
S1STATE="@IMAGE_STATE_1@"
S2STATE="@IMAGE_STATE_2@"
S1OSNAME="@IMAGE_NAME_1@"
S2OSNAME="@IMAGE_NAME_2@"
S1OSARGS="@INIT_OPTION_1@ @EXTRA_KERNEL_PARAMS_1@ img_id=1 quiet loglevel=4 panic=1"
S2OSARGS="@INIT_OPTION_2@ @EXTRA_KERNEL_PARAMS_2@ img_id=2 quiet loglevel=4 panic=1"
UBPASSWD="@BOOTMGR_PASSWORD@"
