IMAGE_1_STATE='@IMAGE_STATE_1@'
IMAGE_2_STATE='@IMAGE_STATE_2@'
IMAGE_1_NAME='@IMAGE_NAME_1@'
IMAGE_2_NAME='@IMAGE_NAME_2@'
IMAGE_1_KERNEL_ARGS='@INIT_OPTION_1@ @EXTRA_KERNEL_PARAMS_1@ img_id=1 quiet loglevel=4 panic=1'
IMAGE_2_KERNEL_ARGS='@INIT_OPTION_2@ @EXTRA_KERNEL_PARAMS_2@ img_id=2 quiet loglevel=4 panic=1'
BOOTMGR_PASSWORD='@BOOTMGR_PASSWORD@'
