# This is configuration file for nknlogd
#
# ############################################################
# server information configuration
# ############################################################
LogFolderPath = /var/log/nkn
LogPort = 7958

# Agent can connect to this nknlogd to withdraw the data.
# e.g.: Center Manager Agent. DashBoard Agent. RealTime Accesslog Analyzer etc.
# 1: enabled. 0: disabled.
AgentAccess = 1

# ############################################################
# Accesslog Type configuration
# ############################################################
#LogType = AccessLog
#Status = inactive	# active / inactive
#Syslog = no	# yes / no
#FileName = access.log
#Max-FileSize = 100 MBytes
#Log-Rotation = yes #yes / no
#Max-FileId = 10
#On-the-Hour = no # yes / no
#Time-Interval = 0 minutes # 5..480 in minutes, 0 disabled
#Show-Format = yes # yes / no
#Log-Restriction = no # yes / no
#Object-Size-Restriction = 0 # size in K-Bytes
#Resp-Code-Restriction =   # Example 200 206   
# Format
#
#
# %b : FORMAT_BYTES_OUT_NO_HEADER
# %c : FORMAT_CACHE_HIT
# %f : FORMAT_FILENAME
# %h : FORMAT_REMOTE_HOST
# %i : FORMAT_HEADER
# %l : FORMAT_REMOTE_IDENT
# %m : FORMAT_REQUEST_METHOD
# %o : FORMAT_RESPONSE_HEADER
# %q : FORMAT_QUERY_STRING
# %r : FORMAT_REQUEST_LINE
# %s : FORMAT_STATUS
# %t : FORMAT_TIMESTAMP
# %u : FORMAT_REMOTE_USER
# %v : FORMAT_SERVER_NAME
# %w : FORMAT_PEER_STATUS
# %x : FORMAT_PEER_HOST
# %y : FORMAT_STATUS_SUBCODE
#
# %A : FORMAT_REQUEST_IN_TIME
# %B : FORMAT_FBYTE_OUT_TIME
# %D : FORMAT_TIME_USED_MS
# %E : FORMAT_TIME_USED_SEC
# %F : FORMAT_LBYTE_OUT_TIME
# %H : FORMAT_REQUEST_PROTOCOL
# %I : FORMAT_BYTES_IN
# %L : FORMAT_LATENCY
# %M : FORMAT_DATA_LENGTH_MSEC
# %O : FORMAT_BYTES_OUT
# %R : FORMAT_REVALIDATE_CACHE
# %N : FORMATE_NAMESPACE_NAME
# %U : FORMAT_URL
# %V : FORMAT_HTTP_HOST
# %W : FORMAT_CONNECTION_STATUS
# %X : FORMAT_REMOTE_ADDR
# %Y : FORMAT_LOCAL_ADDR
# %Z : FORMAT_SERVER_PORT
#
#
# Common Log Format (CLF) 
#Format = %h %V %u %t "%r" %s %b

# Default: NCSA extended/combined log format 
Format = %h %V %u %t "%r" %s %b "%{Referer}i" "%{User-Agent}i" %y

# ############################################################
# Debuglog Type configuration
# ############################################################

#define MOD_NETWORK     0x0000000000000001
#define MOD_HTTP        0x0000000000000002
#define MOD_DM2         0x0000000000000004
#define MOD_MM          0x0000000000000008
#define MOD_BM          0x0000000000000010
#define MOD_CE          0x0000000000000020
#define MOD_SCHED       0x0000000000000040
#define MOD_SSP         0x0000000000000080
#define MOD_HTTPHDRS    0x0000000000000100
#define MOD_FQUEUE      0x0000000000000200
#define MOD_SYSTEM      0x0000000000000400
#define MOD_FM          0x0000000000000800
#define MOD_OM          0x0000000000001000
#define MOD_OOMGR       0x0000000000002000
#define MOD_TCP         0x0000000000004000
#define MOD_TFM         0x0000000000008000
#define MOD_NAMESPACE   0x0000000000010000
#define MOD_NFS         0x0000000000020000
#define MOD_RTSP        0x0000000000040000
#define MOD_AM          0x0000000000080000
#define MOD_MM_PROMOTE  0x0000000000100000
#define MOD_FUSE        0x0000000000200000
#define MOD_VPEMGR      0x0000000000400000
#define MOD_GM          0x0000000000800000

#define MOD_TRACE       0x4000000000000000
#define MOD_CACHELOG    0x8000000000000000

#define MOD_ANY         0xFFFFFFFFFFFFFFFF


#
# SysLog
#
LogType = SysLog
Status = active	# active / inactive
Syslog = yes     # yes / no
FileName = 
Max-FileSize = 
Max-FileId = 
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 7
Modules = 0x1000000000000000    # MOD_SYSLOG  id

#
# TraceLog
#
LogType = TraceLog
Status = inactive	# active / inactive
Syslog = no	# yes / no
FileName = trace.log
Max-FileSize = 100 MBytes
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 7
Modules = 0x4000000000000000   # MOD_TRACE id

#
# CacheLog
#
LogType = CacheLog
Status = inactive	# active / inactive
Syslog = no	# yes / no
FileName = cache.log
Max-FileSize = 100 MBytes
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 7
Modules = 0x8000000000000000	# MOD_CACHELOG id

#
# FuseLog
#
LogType = FuseLog
Status = inactive # active / inactive
Syslog = no     # yes / no
FileName = fuse.log
Max-FileSize = 100 MBytes
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 7
Modules = 0x2000000000000000    # MOD_FUSELOG id


#
# Error log
#
LogType = ErrorLog
Status = inactive # active / inactive
Syslog = no     # yes / no
FileName = error.log
Max-FileSize = 100 MBytes
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 4
Modules = 0xFFFFFFFFFFFFFFFF   #All MOD ids


#
# MFP log
#
LogType = MfpLog
Status = inactive # active / inactive
Syslog = no     # yes / no
FileName = mfp.log
Max-FileSize = 100 MBytes
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 4
Modules = 0x0000000180000000   #MOD_MFPLIVE id and MOD_MFPFILE id

#
# Crawl log
#
LogType = CrawlLog
Status = active	# active / inactive
Syslog = no	# yes / no
FileName = crawl.log
Max-FileSize = 100 MBytes # 0 disabled
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 7
Modules = 0x0000400000000000	# MOD_CRAWL id

#
# CB log
#
LogType = CbLog
Status = active # active / inactive
Syslog = no     # yes / no
FileName = cb.log
Max-FileSize = 100 MBytes # 0 disabled
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Level = 7
Modules = 0x0020000000000000    # MOD_CB id

# ############################################################
# Streamlog Type configuration
# ############################################################
LogType = StreamLog
Status = inactive	# active / inactive
Syslog = no	# yes / no
FileName = stream.log
Max-FileSize = 100 MBytes
Log-Rotation = yes #yes / no
Max-FileId = 10
On-the-Hour = no # yes / no
Time-Interval = 0 hours # 1..n in hours, 0 disabled
Show-Format = yes # yes / no
# Format
#
# %t : FORMAT_X_TIMESTAMP       //local time
# %c : FORMAT_S_IP              //dst-ip
# %d : FORMAT_R_IP              //r-ip Origin server ipaddress (NYI)
# %h : FORMAT_C_IP              // Src ip (Client)REMOTE_HOST
# %x : FORMAT_TRANSACTION_CODE
# %r : FORMAT_CS_URI            //Streaming URL access, (urlSuffix)
# %l : FORMAT_CS_URI_STEM
#
# %C : FORMAT_CLIENT_ID         //unique client side streaming id
# %S : FORMAT_STREAM_ID         //unique server side streaming id, (fOurSessionId)
# %T : FORMAT_EMD_TIME          //GMT time when transaction ended, (end_ts)
# %B : FORMAT_CLIP_START        //when client started receiving stream,
# %E : FORMAT_CLIP_END          //when the client stop receiving stream,
# %P : FORMAT_PACKETS           //Total number of packets delivered to the client
#
# %s : FORMAT_CS_STATUS
#
# %L : FORMAT_CON_PROTOCOL      //Protocol used during connection, RTSP
# %R : FORMAT_TRA_PROTOCOL      //Transport protocol used during the connection, TCP
# %A : FORMAT_ACTION            //Action performed, SPLIT, PROXY, CACHE, CONNECTING
# %D : FORMAT_DROPPED_PACKETS   //#pf packets dropped
# %M : FORMAT_PLAY_TIME         //duration of time the client received the content
# %X : FORMAT_PRODUCT           //Streaming product used to create and stream conten
# %K : FORMAT_RECENT_PACKET     //packets resent to the client
#
# %p : FORMAT_C_PLAYERVERSION   //client media player version
# %o : FORMAT_C_OS              //client os
# %v : FORMAT_C_OSVERSION       //client os version
# %u : FORMAT_C_CPU             //Client CPU type
# %f : FORMAT_FILELENGTH        //length of the sream in secs
# %a : FORMAT_AVG_BANDWIDTH     //Avg bandwidth in bytes per sec
# %i : FORMAT_CS_USER_AGENT     //player info used in the header
# %j : FORMAT_E_TIMESTAMP       //number of sec since Jan 1, 1970, when transaction ended
#
# %I : FORMAT_BYTES_IN
# %O : FORMAT_BYTES_OUT
# %N : FORMAT_NAMESPACE_NAME
#
# Common Log Format (CLF) 
Format = %h %c %t %x "%r" %s %I %O 

